{erl_opts, [debug_info]}.
{project_app_dirs, ["apps/wfcore", "apps/wfcli", "apps/wfdaemon"]}.
{src_dirs, [{"src", [{recursive, true}]}]}.
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
{deps, [
    {yamerl, "~> 0.10"},
    {jsone, "~> 1.9"},
    {gun, "2.5.0"},
    {dirtree, "1.0.5"}
]}.
{escript_main_app, wfcli}.
{escript_incl_apps, [wfcli, wfcore, wfdaemon, yamerl, jsone, gun,
                     dirtree, gleam_stdlib]}.

{relx, [
    {release, {wfdaemon, {file, "VERSION"}}, [
        wfdaemon,
        sasl
    ]},

    {mode, dev},
    {include_src, false},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info]},
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
